<h1>Raidar Glossary</h1>
<app-edu-term term="Controlled composition" definition="A song that is written, owned, and controlled by the artist"></app-edu-term>
<app-edu-term term="Public performance license" definition="An agreement that allows the license holder to publically perform a work."></app-edu-term>
<app-edu-term term="Single-use license" definition="An agreement that allows the license holder to use the music in one particular way up to one time and for nothing else beyond that."></app-edu-term>
