<div class="container">

<div class="flexRow" style="margin-top:40px; margin-bottom:50px;">
  <!-- <div class="spacer">&nbsp;</div> -->
  <button [routerLink]="['/audio-library']" mat-raised-button color="accent" style="width: 520px;
  flex-direction: inherit; height: 50px; font-size: larger;
  margin: 0px auto; text-align:center;">Browse Music Library</button>
</div>

<h2 style="margin-left:118px;">Learn about...</h2>

<div class="edu-topic-cntr">
  <app-edu-topic title="Copyright" sub="Basic Intellectual Property (IP)" img="./assets/pencil-icon.jpg" contentIntro="
    <p>
      Per the United States Copyright Code, any <b>original</b> work that is written down or recorded is immediately protected by a bundle of rights. These rights are exclusive to the person who wrote the song and who owns or controls the recording of the song.
    </p>
    <p>
      To be <b>original</b> the melody and lyric of the song can not be substantially similar to any existing work. The recording of the work can not contain any uncleared <a href='./assets/docs/explainer.pdf' target='_blank'>samples</a>.
    </p>
    <p>
      Once the original work is either recorded or written down, the creator is the exclusive holder of the copyright, and they have the following six exclusive rights:
    </p>
    <ul>
      <li>Reproduction</li>
      <li>Distribution</li>
      <li>Display</li>
      <li>Derivatives</li>
      <li>Public Performance (in the song/composition)</li>
      <li>Digital Public Performance (in the sound recording/musical work)</li>
    </ul>
    <p>
      The above <b>exclusive rights</b> mean that only the creator/holder of the copyright(s) can do any of the things listed above, and, if anyone else does any of those things without an agreement/license from the rights’ holder, they would likely be infringing on the creator’s rights, and subject to the penalties delineated in the copyright code.</li>
    </p>
    <p>
      These rights allow artists to control and monetize their creative output. <b>It is hugely important that you understand what your rights are.</b>
    </p>
"></app-edu-topic>

  <app-edu-topic title="Licenses" sub="Profiting from your music" img="./assets/film-icon.png" contentIntro="
    <p>
      When music is used in conjunction with a visual work, a synchronization deal is necessary.  In order to do this, permission must be  granted from the holder of both copyrights in a song (the composition © and master recording ℗) and two deals must be struck.
    </p>
    <p>
      A sync license is needed in order to use the ©. This deal is between the producer of the visual work and the © holder of the composition. This license grants the right to synchronize the composition with their visual work and then reproduce/distribute this composition as a part of that visual work.
    </p>
    <p>
      A master use license is needed in order to use the ℗. This deal is between the producer of the visual work and the ℗ holder of the master recording. This license grants the right to synchronize the master recording with their visual work and then reproduce/distribute this composition as a part of that visual work.
    </p>
    <p>
      When licensing your music on RAIDAR, you agree to license your song according to the terms of our sync/master use license. See below for more information, and a copy of the license.
    </p>
    <p>
      > <a href='./assets/docs/sync-license-template.pdf' target='_blank'>See the RAIDAR License</a><br/>
      > <a href='./assets/docs/sync-license-example.pdf' target='_blank'>See a filled-out example of the RAIDAR License</a><br/>
      > <a href='./assets/docs/sync-license-explainer.pdf' target='_blank'>See Explainer on Licenses</a>
    </p>
"></app-edu-topic>

<h2 style="margin-left:118px;">Can you upload your song?</h2>

  <app-edu-topic title="Learn about Controlled Compositions" sub="Songwriting + performance" img="./assets/scales-icon.png" contentIntro="
    <p>
      A controlled composition is when you are the sole rights owner of a work, meaning you own both the rights to the composition (lyrics and melody) and the rights to the master recording. If you write the piece by yourself and you own the recording then you control your composition.
    </p>
    <p>
      You own the recording if you performed and recorded it yourself, or if you have work for hire agreements in place that transfer ownership to you with anyone who also worked on the recording (examples include producers, session players, and engineers).
    </p>
"></app-edu-topic>

<div style="text-align:center">
  <button mat-raised-button color="accent" onclick="window.open('./assets/docs/edu-controlled-comp-flowchart.pdf', '_blank')"
    style="
    width: 521px;
    height: 50px;
    font-size: larger;
    font-weight: normal;
    flex-direction: inherit;
    background-color: white;
    color: rgba(0, 0, 0, 0.87);
    margin-top: 15px;
    margin-bottom: 20px;">Is my song a Controlled Composition?</button>
</div>

<app-edu-topic title="Learn about Work for Hire Agreements" sub="Commission-based art" img="./assets/music-icon.png" contentIntro="
    <p>
      A work for hire is used to ensure that one company or person retains the full copyright ownership of a work when commissioning a person to contribute. In simpler words, a work for hire makes sure that a session player, background vocalist, etc. doesn’t have copyright claim to a work they’ve contributed to. This ensures that the work is entirely controlled by one, and that you can license your song on RAIDAR.
    </p>
"></app-edu-topic>

<app-edu-topic title="Learn about Sample Clearance" sub="More about copyright" img="./assets/music-icon.png" contentIntro="
    <p>
      A clip or portion of an <b>existing record or composition</b> that is used to transform or contribute to your composition in a creative way. Typically, <b>samples require clearances</b> from their copyright owners before they can be used in another composition.
    </p>
    <p>
      Given that RAIDAR requires you control your composition in order to license on the platform, we’ve provided a list of companies that have no claim to the copyrights or ownership of samples provided on their platforms. This means that the samples you use in your composition are licensed to you and are <b>copyrightable as a part of your composition</b>. If you have a sample in your composition from outside the provided list, you <b><u>cannot</u></b> upload your work to RAIDAR just yet.
    </p>
    <p>
      > <a href='./assets/docs/wfh-template.pdf' target='_blank'>See an example Work for Hire agreement</a><br/>
      > <a href='./assets/docs/wfh-example.pdf' target='_blank'>See a filled-out sample Work for Hire agreement</a><br/>
      > <a href='./assets/docs/wfh-explainer.pdf' target='_blank'>See an Explainer on Work for Hire agreements</a>
    </p>
"></app-edu-topic>

<h2 style="margin-left:118px;">Learn more</h2>

<div class="flexRow">
  <button mat-raised-button color="accent" onclick="window.open('./assets/docs/explainer.pdf', '_blank')" style="width:160px;
    height: 40px;
    font-size: larger;
    flex-direction: inherit;
    background-color: white;
    color: #49a8ec;
    margin: auto;
    margin-top: 20px;">View Explainer</button>
</div>
<br/>

</div>

<div style="display:block; height:300px; width:300px;">&nbsp;</div>
</div>
