.songslist {
  padding-top: 20px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}


.flexRow {
  display: flex;
}

.flex-child {
  flex: 1 1 auto;
  max-width: 10px;
}

.spacer {
  flex-grow: 1;
}
